<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Datos Alumnos</h3>
                </div>
                <div class="card-body">
                    {{#each alumno}}
                        
                        Legajo: {{legajo}}</br>
                        Nombre: {{nombre}}{{!-- <input type="text" value="{{nombre}}"> --}}</br>
                        Apellido: {{apellido}} <br>
                        DNI: {{dni}} <br>
                        Domicilio: {{domicilio}} <br>
                        Fecha de Nacimiento: {{fechaNacimiento}} <br>
                        
                    {{/each}}
                    <p> teléfono/s:</p>
                    {{#each alumnoTel}}
                       <p> {{telefono}} </p>
                    {{/each}}
                    <b>Email:</b>
                    {{#each alumnoEmail}}
                    <p>{{email}} </p>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

</div>
