<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Datos Alumnos</h3>
                </div>
                <div class="card-body">
                    {{#each alumno}}
                        
                        <p><b>Legajo:</b>{{legajo}}</p>
                        <p><b>Nombre:</b> {{nombre}}</p>
                        <p><b>Apellido:</b> {{apellido}}</p> 
                        <p><b>DNI:</b> {{dni}}</p> 
                        <p><b>Domicilio:</b> {{domicilio}} </p>
                        <p><b>Fecha de Nacimiento:</b> {{fechaNacimiento}}</p>
                      
                    {{/each}}
                    <p><b>Teléfono/s:</b>
                    {{#each alumnoTel}}
                    {{telefono}}</p>
                    {{/each}}
                    <p><b>Email:</b>
                    {{#each alumnoEmail}}
                    {{email}}</p>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

</div>
