<div id="ticket">
    <div class="container-fluid pt-5">
        <table id="myTable" class="table table-success table-striped ">
            <thead>
                <th onclick="sortTable(0, 'str')">Legajo</th>
                <th onclick="sortTable(1, 'str')">Nombre y Apellido</th>
                <th onclick="sortTable(3, 'str')">Dni</th>
                <th>Acciones</th>
            </thead>
            <tbody id="tablaReserva">
               {{#each usuarios}}
                <tr>
                    <td>{{ legajo}}</td>
                    <td>{{nombre}} {{apellido}}</td>
                    <td>{{dni}}</td>
                    <td>
                    <a type="button" class="btn btn-success" href="informacionalumno/{{legajo}}">ver</a>
                    <a type="button" class="btn btn-primary" href="editaralumno/{{legajo}}">Editar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
     
           <div class="row py-5">
       {{!--  <div style="float: left" class="col-2 p-3">
            <a id="volver" href="/paginas/deporte" type="button" class="btn btn-primary">Salir</a>
        </div> --}}
    </div> 
</div>  
